$black: #33322F;
$grey: #E0E0E0;


html{
	box-sizing: border-box;
}
*,
*::before,
*::after{
	box-sizing: inherit;
}
a{
	display: inline-block;
	text-decoration: none;
	
}
ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
h2{
	margin: 0;
}
html, body{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $black;
}
body{
	overflow-x: hidden;
	background-color: #EFEBE0;
}
html{
	position: relative;
}
.container{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

---------------------------HEADER-------------------------------

.header{
	width: 100%;
}
.header__wrapper{
	display: flex;
	justify-content: flex-start;
	padding-top: 30px;
	width: 100%;
}
.header__title{
	padding-top: 120px;
	width: 385px;
	padding-left: 45px;
}
.title{
	font-family: "Times New Roman", serif;
	font-weight: 700;
	font-size: 48px;
	padding-bottom: 45px;
}
.subtitle{
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 120%;
	text-transform: uppercase;
}